.balancebox{
    width: 100%;
    height: 157px;
    border-radius: 12px;
    background:#ffffff;
    box-shadow: 0 30px 28px -16px rgba(30, 46, 36, 0.05);
    overflow: hidden;
}
.jianbian{
    width: 100%;
    height: 108px;
    background-image: linear-gradient(to right,#FFC267,#F49D1A);
    box-sizing: border-box;
    padding: 16px;
    color: #ffffff;
    position: relative;
}
.jianbian h3{
    margin: 10px 0;
}
.coinimg{
    width: 54px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 29px;
}
.balanceicon{
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
.jianbian .flex_sta{
    font-size: 16px;
    font-family: 'fontl';
}
.moreicon{
    width: 18px;
    height: 14px;
    display: block;
    margin-left: 8px;
}
.invest{
    height: 50px;
    color: #13B156;
    font-size: 14px;
    align-items: center;
}
.listmenu{
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 0 16px;
    color: #444444;
    font-size: 12px;
    margin-top: 15px;
}
.listmenu li a{
    height: 68px;
    width: 100%;
    border-bottom: 1px solid #DCDFE5;
    box-sizing: border-box;
    padding: 0 12px;
}
.listmenu li:last-child a{
    border: none;
}
.listmenu p{
    color: #444444;
    font-size: 12px;
}
.icon{
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 8px;
}
.questionlist li{
    width: 100%;
    height: auto;
    border: 1px solid #DCDFE5;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 17px;
    margin-top: 12px;
}
.question h3{
    color: #13B156;
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
}
.question p{
    color: #1E232E;
    font-size: 14px;
}
.questionimg{
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}
.answer{
    color: #A5A7AB;
    font-size: 12px;
    font-family: 'fontl';
    display: none;
}
.trans .questionimg{
    transform: rotate(0deg);
}
.customer{
    width: 100%;
    height: 48px;
    background: #13B156;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    line-height: 48px;
    margin-top: 15px;
}