
.form-input-group {
	border-radius: 10px;
	background: #1dcbff;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
position: relative;
  margin-top: 15px;
  padding: 15px;
}
.form-input-group .label {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color:#fff;
  padding-left: 14px;
  font-weight: 500;
}
.form-input-box {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--bg-primary);
}
.form-input-icon {
  width: 18px;
}
.form-input-control {
  display: block;
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-primary);
  color: rgba(128, 128, 128, 1);
  border: none;
  outline: none;
}


.form-footer-msg {
  margin: 20px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
}
.form-footer-msg > h5 {
  font-size: 16px;
}



